.user_comments {
  display: flex;
  height: 220px;
  overflow-x: scroll;
}

.user_comments::-webkit-scrollbar {
  display: none;
}

.user_comments section {
  background-color: white;
  margin: 10px;
  border-radius: 5px;
    padding: 5px;
}

.user_comments section div {
  width: 230px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user_comments .name, .user_comments .content {
  color: black;
}

.user_comments .content {
  text-align: start;
  height: 100%;
}

.user_comments .name {
  align-self: flex-end;
}