.natacion_resumme_container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 8px 25px 8px;
}

.natacion_resumme_container h3 {
  order: 1;
  width: 100%;
  text-align: center;
}

.natacion_resumme_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  order: 2;
}

.natacion_resumme_container button {
  order: 3;
}

.natacion_resumme_container div figure {
  margin: 20px 0;
}
