.natacion_resumme_container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 8px 25px 8px;
}

.natacion_resumme_container h3 {
  order: 1;
  width: 100%;
  text-align: center;
}

.natacion_resumme_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  order: 2;
}

.natacion_resumme_container button {
  order: 3;
}

.natacion_resumme_container div figure {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .natacion_resumme_container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    width: 85%;
    margin: 0 auto;
    align-items: center;
  }

  .natacion_resumme_container div {
    justify-content: space-between;
    width: 50%;
  }

  .natacion_resumme_container button {
    width: 30%;
  }
  
}