.footer .cards_width {
  width: 40px;
  margin: 0 5px;
}

footer hr {
  background-color: rgb(29, 26, 5);
  border: none;
  padding: 1px;
}

.footer .logo {
  width: 90px;
  height: 25px;
}

.footer .footer_logo {
  display: flex;
  justify-content: space-between;
}

.footer .title {
  margin-top: 30px;
}

.terminos_y_condiciones {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer_logo_container {
  display: flex;
  flex-direction: column-reverse;
}

.cards_container {
  margin: 10px 0;
}

.whatsapp_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px 0 50px 0;
}

.whatsapp_container a {
  width: 180px;
  align-self: center;
  margin-top: 10px;
}

@media screen and (min-width: 500px) {
  .terminos_y_condiciones {
    justify-content: space-around;
  }

  .footer .footer_logo {
    justify-content: space-around;
  }

}