/* mobile first */
.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}

.main_img_container {
  margin-top: 35px;
  width: 100%;
}

.main_img_container img {
  width: 100%;
}