.slider .images_container {
  display: flex;
  overflow-x: scroll;
}

.slider .images_container::-webkit-scrollbar {
  display: none;
}

.slider img {
  width: 200px;
}

.slider .main_img,
.slider .exito {
  display: none;
}

.slider section div {
  display: flex;
  margin: 0 8px;
}


@media screen and (min-width: 768px) {
  .slider {
    height: 350px;
    margin: 20px auto;
    width: 85%;
    border-radius: 5px;
    position: relative;
  }

  .slider .main_img,
  .slider .exito,
  .slider div,
  .slider {
    display: flex;
    background-color: white;
  }

  .slider div img {
    width: 150px;
  }

  .slider .exito {
    flex-direction: column;
  }

  .article_container {
    flex-direction: column;
    width: 60%;
    right: 1px;
    height: 100%;
    justify-content: center;
    position: absolute;
  }
  
  .slider .exito h1 {
    font-size: 25px;
  }

  .slider .exito h1,
  .slider .exito p {
    margin: 0 auto;
    margin-top: 20px;
    align-self: flex-start;
    color: black;
    width: 90%;
    text-align: start;
  }

  .slider .images_container {
    justify-content: center;
    margin-top: 15px;
  }

  .slider .main_img {
    width: 40%;
    transition: 1s;
  }

  .slider .main_img img {
    width: 100%;
  }
}